

<ul class="stations">
    <li *ngFor="let station of stations" >
        
        <span class="badge">{{station.number}}</span>
        <a routerLink="/station/{{station.number}}">{{station.name}}</a>
    </li>
</ul>
